/2022-fortune-500-data-collection.ipynb
/Fortune_1000.csv
/movies.db
/genderbabynames.sqlite
venv/
__pycache__/
/test.py
node_modules/
/package-lock.json
/package.json
templates/graphalt.html
templates/graphaltalt.html
static/data1.json
static/chart.
