<!DOCTYPE html>
<html>
  <head>
    <title>Task4</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'styles.css') }}">
  </head>
  <body>
    <h1>Select Options</h1>
    <form action="/graph" method="POST">
      <label for="states">Option 1:</label>
      <select name="states" id="states">

        {% for option in states_options %}
        <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
      </select>
      <br>
      <label for="data">Option 2:</label>
      <select name="data" id="data">
        {% for option in data_options %}
        <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
      </select>
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
