<!DOCTYPE html>
<html>
  <head>
    <title>Task4 graph</title>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'styles.css') }}">
  </head>
  <body>

    <div id="chart"></div>

    <script>
      
      const data = {{ data | tojson }}; // type: ignore 
      var datatype = "{{datatype}}";

      const xData = data.map(d => new Date(d.date));
      const yData = data.map(d => d[datatype]);


      const trace = {
        x: xData,
        y: yData,
        type: "scatter",
        mode: "lines",
        line: { color: "blue" }
      };


      const layout = {
        title: "Rendered data",
        xaxis: { title: "Date" },
        yaxis: { title: datatype }
      };


      Plotly.newPlot("chart", [trace], layout);
    </script>

    <div class = "graphtexty">The maximum value is <span class = "graphtextbold">{{maxvalue}}</span> on <span class = "graphtextbold">{{maxdate}}</span></div>
        
    <div class = "graphtexty">The minimum value is <span class = "graphtextbold">{{minvalue}}</span> on <span class = "graphtextbold">{{mindate}}</span></div>


    <div class = "graphtexty">The average value is <span class = "graphtextbold">{{average}}</span></div>
  </body>
</html>
