<!DOCTYPE html>
<html>
  <head>
    <title>Task4 graph</title>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'styles.css') }}">
  </head>
  <body>

    <div id="chart"></div>

    <script>
      
      const data = {{ data | tojson }}; // type: ignore
      var datatype = "{{datatype}}";

      const xData = data.map(d => new Date(d.date));
      const yData = data.map(d => d[datatype]);


      const trace = {
        x: xData,
        y: yData,
        type: "scatter",
        mode: "lines",
        line: { color: "blue" }
      };


      const layout = {
        title: "Rendered data",
        xaxis: { title: "Date" },
        yaxis: { title: datatype }
      };


      Plotly.newPlot("chart", [trace], layout);
    </script>
    <div>The maximum value is {{maxvalue}} on {{maxdate}}</div>
    <div>The minumum value is {{minvalue}} on {{mindate}}</div>
    <div>The average is {{average}}</div>
  </body>
</html>
